<!DOCTYPE html>

<html lang="ro" ng-app="scentSeeApp" itemscope itemtype="http://schema.org/Product">
    <head>
        <title>ScentSee - Descoperă parfumul care te definește</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="ScentSee.com">
        <meta name="description" content="Descoperă parfumul potrivit personalității tale și stilului tău de viață.">
        <meta name="keywords" content="recommendation,perfume,discover perfume">
		<meta name="copyright" content="&copy; 2016 ScentSee. Toate drepturile rezervate." />
        <meta name="Resource-type" content="Document">
		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="ScentSee ">
		<meta itemprop="description" content="Descoperă parfumul potrivit personalității tale și stilului tău de viață.">
		<meta itemprop="image" content="http://ScentSee.com/images/logo_bySS_transparent_square.png">

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="product">
		<meta name="twitter:site" content="@publisher_handle">
		<meta name="twitter:title" content="ScentSee - Descoperă parfumul care te definește">
		<meta name="twitter:description" content="Descoperă parfumul potrivit personalității tale și stilului tău de viață.">

		<meta name="twitter:image" content="http://ScentSee.com/images/logo_transparent_square.png">
		<meta name="twitter:image" content="http://ScentSee.com/images/logo.png">

		<!-- Open Graph data -->
		<meta property="og:title" content="ScentSee - Descoperă parfumul care te definește" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://scentsee.com" />
		<meta property="og:image" content="http://scentsee.com/images/logo_transparent_wide.png" />
		<!--<meta property="og:image" content="http://ScentSee.com/images/logo_transparent_square.png" />-->
		<!--<meta property="og:image" content="http://ScentSee.com/images/logo.png" />-->
		<meta property="og:description" content="Descoperă parfumul potrivit personalității tale și stilului tău de viață." />
		<meta property="og:site_name" content="ScentSee" />

        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="styles/rzslider.min.css">
        
        <link rel="stylesheet" type="text/css" href="styles/selectize.default.css">
        <link rel="stylesheet" type="text/css" href="styles/app.css">
    </head>

    <body>
    <div class="page-wrapper">
    	<header ng-controller="LandingCtrl">
    		<div class="container header-contents desktop">
				<ul class="col-lg-4 col-md-4 col-sm-4">
					<li ng-class="{ active: isActive('/preferences')}"><a ng-href="#/preferences">Recomandări după preferințe</a></li>
					<li ng-class="{ active: isActive('/quiz')}"><a ng-href="#/quiz">Recomandări după stil de viață</a></li>
				</ul>
				<div id="logo" class="col-lg-4 col-md-4 col-sm-4" ng-mouseenter="imgsrc = 'images/logo-color.png'"
					 ng-mouseleave="imgsrc = 'images/logo.png'" ng-init="imgsrc = 'images/logo.png'">
					<a ng-href="#landing"><img ng-src="{{imgsrc}}" src="images/logo.png"   /></a>
				</div>
				<ul class="col-lg-4 col-md-4 col-sm-4">
                    <li><a href="http://en.scentsee.com"><img src="images/en.png" alt="ScentSee in English" /></a></li>
                    <li><a href="#"><img src="images/ro.png" alt="ScentSee în română" /></a></li>
                    <li ng-class="{ active: isActive('/contact')}"><a ng-href="#/contact">contact</a></li>
					<li ng-class="{ active: isActive('/login')}" ng-show="isLoggedIn() == false"><a ng-href="#/login">business login</a></li>
					<li ng-class="{ active: isActive('/premium')}" ng-show="isLoggedIn() == true"><a ng-href="#/premium">premium</a></li>
					<li ng-class="{ active: isActive('/logout')}" ng-show="isLoggedIn() == true"><a ng-href="#" ng-click="logout()">logout</a></li>
                </ul>
    		</div>
    		<div class="container header-contents phone">
				<div id="logo" class="col-sm-4">
					<a ng-href="#landing"><img ng-src="images/logo.png" /></a>
				</div>
				<ul class="col-sm-8">
					<li ng-class="{ active: isActive('/preferences')}"><a ng-href="#/preferences">Recomandări după preferințe</a></li>
					<li ng-class="{ active: isActive('/quiz')}"><a ng-href="#/quiz">Recomandări după stil de viață</a></li>
					<li ng-class="{ active: isActive('/contact')}" class="hide-on-phone"><a ng-href="#/contact">contact</a></li>
					<li ng-class="{ active: isActive('/login')}" ng-show="isLoggedIn() == false"><a ng-href="#/login">business login</a></li>
					<li ng-class="{ active: isActive('/premium')}" ng-show="isLoggedIn() == true"><a ng-href="#/premium">premium</a></li>
					<li ng-class="{ active: isActive('/logout')}" ng-show="isLoggedIn() == true"><a ng-href="#" ng-click="logout()">logout</a></li>
				</ul>
    		</div>
		</header>
		
        <div class="container">
          <div ng-view></div>
        </div>
        
        <div class="clearfix"></div>
        
        <footer>
        	<div class="container">
        		<div class="col-lg-2 col-md-3 col-sm-3 no-text-transform hide-on-phone">
					<h4>Despre</h4>
					<a href="/" class="underline">ScentSee</a> te ajută să explorezi lumea parfumurilor și să-l găsești pe cel potrivit ție sau celor dragi.
				</div>
        		
        		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
					<h4>Despre ScentSee</h4>
		        	<ul class="footer-nav">
						<li ng-class="{ active: isActive('/for-whom')}"><a href="#/for-whom">pentru cine este?</a></li>
						<li ng-class="{ active: isActive('/how-it-works')}"><a href="#/how-it-works">cum funcționează?</a></li>
                        <li><a href="http://scentsee.com/jsondoc-ui.html?url=http://scentsee.com/jsondoc">ScentSee API</a></li>
                        <li ><a href="/blog">Blog</a></li>
		        	</ul>
				</div>
				
        		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        			<h4>Info utile</h4>
        			<ul class="footer-nav">
						<li ng-class="{ active: isActive('/partners')}"><a ng-href="#/partners">parteneri</a></li>
						<li ng-class="{ active: isActive('/stores')}"><a ng-href="#/stores">în magazine</a></li>
						<li ng-class="{ active: isActive('/scents')}"><a ng-href="#/scents">arome</a></li>
						<li ng-class="{ active: isActive('/contact')}" class="show-on-phone"><a ng-href="#/contact">contact</a></li>
        			</ul>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" id="socialIcons">
					<h4>Social</h4>
					<ul>
						<li id="fbIcon"><a target="_blank" href="https://www.facebook.com/ScentSee/"></a></li>
						<li id="twitIcon"><a target="_blank" href="https://twitter.com/ScentSee"></a></li>
						<li id="emailIcon"><a target="_blank" href="mailto:bogdan@scentSee.com"></a></li>
					</ul>
				</div>
				<div class="clear"></div>
	        	<p class="col-lg-6 col-md-6 col-sm-6" id="copyright">&copy;ScentSee 2016. Toate drepturile rezervate.</p>
        	</div>
        </footer>
    </div>
        
	 <!--Start of Tawk.to Script-->

	 <script type="text/javascript">
	     var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	     (function(){
	         var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	         s1.async=true;
	         s1.src='https://embed.tawk.to/567578e7e8d7f443203d7433/default';
	         s1.charset='UTF-8';
	         s1.setAttribute('crossorigin','*');
	         s0.parentNode.insertBefore(s1,s0);
	     })();
	 </script>

	 <!-- GA Script -->
	 <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75762985-1', 'auto');
    ga('send', 'pageview');

     </script>

    <script type="application/javascript" src="js/lib/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="js/lib/selectize.min.js"></script>
    <script type="application/javascript" src="js/lib/angular.min.js"></script>
    <script type="application/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="application/javascript" src="js/lib/angular-animate.min.js"></script>
    <script type="application/javascript" src="js/lib/angular-cookies.min.js"></script>
    <script type="application/javascript" src="js/lib/angular-selectize.js"></script>
    <script type="application/javascript" src="js/lib/angular-smooth-scroll.js"></script>
    <script type="application/javascript" src="js/lib/clipboard.min.js"></script>
    <script type="application/javascript" src="js/lib/ngclipboard.min.js"></script>
    <script type="application/javascript" src="js/lib/rzslider.min.js"></script>
    <script type="application/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="application/javascript" src="js/lib/base64.js"></script>
    <script type="application/javascript" src="js/data-ro/affiliates.js"></script>
    <script type="application/javascript" src="js/data-ro/aromaticTypesFrontEnd.js"></script>
    <script type="application/javascript" src="js/data-ro/questionsFrontEnd.js"></script>
    <script type="application/javascript" src="js/app/app-ro.js"></script>
    <script type="application/javascript" src="js/app/services.js"></script>
    <script type="application/javascript" src="js/app/directives.js"></script>
    <script type="application/javascript" src="js/app/controllers/landing.js"></script>
    <script type="application/javascript" src="js/app/controllers/login.js"></script>
    <script type="application/javascript" src="js/app/controllers/preferences.js"></script>
    <script type="application/javascript" src="js/app/controllers/quiz.js"></script>
    <script type="application/javascript" src="js/app/controllers/premium.js"></script>
    <script type="application/javascript" src="js/app/controllers/share.js"></script>
    <script type="application/javascript" src="js/app/controllers/scents.js"></script>
    <script type="application/javascript" src="js/app/controllers/visualize.js"></script>
    </body>
</html>
