﻿<!DOCTYPE html>
<html lang="it"  ng-app="scentSeeApp" itemscope="" itemtype="http://schema.org/Product">
    <head>
        <title>ScentSee - Discover the fragrance that reveals you</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <meta name="author" content="ScentSee.com"></meta>
        <meta name="description" content="Discover the fragrance suited for your taste and lifestyle."></meta>
        <meta name="keywords" content="recommendation,perfume,discover perfume"></meta>
		<meta name="copyright" content="© 2016 ScentSee. All rights reserved."></meta>
        <meta name="Resource-type" content="Document"></meta>
		<!-- Update your html tag to include the itemscope and itemtype attributes. -->

		<!-- Place this data between the <head> tags of your website -->

		<!-- Schema.org markup for Google+ -->
		<meta itemprop="name" content="ScentSee "></meta>
		<meta itemprop="description" content="Discover the fragrance suited for your taste and lifestyle."></meta>
		<meta itemprop="image" content="http://ScentSee.com/images/logo_bySS_transparent_square.png"></meta>

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="product"></meta>
		<meta name="twitter:site" content="@publisher_handle"></meta>
		<meta name="twitter:title" content="ScentSee - Discover the fragrance that reveals you"></meta>
		<meta name="twitter:description" content="Discover the fragrance suited for your taste and lifestyle."></meta>

		<meta name="twitter:image" content="http://en.ScentSee.com/images/logo_transparent_square.png"></meta>
		<meta name="twitter:image" content="http://en.ScentSee.com/images/logo.png"></meta>

		<!-- Open Graph data -->
		<meta property="og:title" content="ScentSee - Discover the fragrance that reveals you"></meta>
		<meta property="og:type" content="website"></meta>
		<meta property="og:url" content="http://en.scentsee.com"></meta>
		<meta property="og:image" content="http://en.scentsee.com/images/logo_transparent_wide.png"></meta>
		<!--<meta property="og:image" content="http://ScentSee.com/images/logo_transparent_square.png" />-->
		<!--<meta property="og:image" content="http://ScentSee.com/images/logo.png" />-->
		<meta property="og:description" content="Discover the fragrance suited for your taste and lifestyle."></meta>
		<meta property="og:site_name" content="ScentSee"></meta>

        <link rel="icon" href="/favicon.ico" type="image/x-icon"></link>
        
        <link rel="stylesheet" href="asset?aid=0"></link>
        <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css"></link>
        <link rel="stylesheet" type="text/css" href="styles/rzslider.min.css"></link>
        
        <link rel="stylesheet" type="text/css" href="styles/selectize.default.css"></link>
        <link rel="stylesheet" type="text/css" href="styles/app.css"></link>
    </head>

    <body dir="ltr">
    <div class="page-wrapper">
    	<header ng-controller="LandingCtrl">
    		<div class="container header-contents desktop">
				<ul class="col-lg-4 col-md-4 col-sm-4">
					<li ng-class="{ active: isActive(&#39;/preferences&#39;)}"><a ng-href="#/preferences">Discover from previous preference</a></li>
					<li ng-class="{ active: isActive(&#39;/quiz&#39;)}"><a ng-href="#/quiz">Discover by lifestyle</a></li>
				</ul>
				<div id="logo" class="col-lg-4 col-md-4 col-sm-4" ng-mouseenter="imgsrc = &#39;images/logo-color.png&#39;" ng-mouseleave="imgsrc = &#39;images/logo.png&#39;" ng-init="imgsrc = &#39;images/logo.png&#39;">
					<a ng-href="#landing"><img src="images/logo.png" ng-src="{{imgsrc}}"></a>
				</div>
				<ul class="col-lg-4 col-md-4 col-sm-4">
                    <li><a href="#"><img src="images/en.png" alt="ScentSee in English"></a></li>
                    <li><a href="http://ro.scentsee.com"><img src="images/ro.png" alt="ScentSee în română"></a></li>
                    <li ng-class="{ active: isActive(&#39;/contact&#39;)}"><a ng-href="#/contact">Contatto</a></li>
					<li ng-class="{ active: isActive(&#39;/login&#39;)}" ng-show="isLoggedIn() == false"><a ng-href="#/login">business login</a></li>
					<li ng-class="{ active: isActive(&#39;/premium&#39;)}" ng-show="isLoggedIn() == true"><a ng-href="#/premium">qualità, 315</a></li>
					<li ng-class="{ active: isActive(&#39;/logout&#39;)}" ng-show="isLoggedIn() == true"><a ng-href="#" ng-click="logout()">Esci</a></li>
				</ul>
    		</div>
    		<div class="container header-contents phone">
				<div id="logo" class="col-sm-4">
					<a ng-href="#landing"><img ng-src="images/logo.png"></a>
				</div>
				<ul class="col-sm-8">
					<li ng-class="{ active: isActive(&#39;/preferences&#39;)}"><a ng-href="#/preferences">Discover from previous preferences</a></li>
					<li ng-class="{ active: isActive(&#39;/quiz&#39;)}"><a ng-href="#/quiz">Discover by lifestyle</a></li>
					<li class="hide-on-phone" ng-class="{ active: isActive(&#39;/contact&#39;)}"><a ng-href="#/contact">Contatto</a></li>
					<li ng-class="{ active: isActive(&#39;/login&#39;)}" ng-show="isLoggedIn() == false"><a ng-href="#/login">business login</a></li>
					<li ng-class="{ active: isActive(&#39;/premium&#39;)}" ng-show="isLoggedIn() == true"><a ng-href="#/premium">qualità, 315</a></li>
					<li ng-class="{ active: isActive(&#39;/logout&#39;)}" ng-show="isLoggedIn() == true"><a ng-href="#" ng-click="logout()">Esci</a></li>
				</ul>
    		</div>
		</header>
		
        <div class="container">
          <div ng-view=""></div>
        </div>
        
        <div class="clearfix"></div>
        
        <footer>
        	<div class="container">
        		<div class="col-lg-2 col-md-3 col-sm-3 no-text-transform hide-on-phone">
					<h4>A riguardo</h4>
					<a href="/" class="underline">ScentSee</a> helps you explore the world of fragrance and to discover the one suited for you or your loved ones.
				</div>
        		
        		<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
					<h4>About ScentSee</h4>
		        	<ul class="footer-nav">
						<li ng-class="{ active: isActive(&#39;/how-it-works&#39;)}"><a href="#/how-it-works">Come funziona?</a></li>
                        <li><a href="http://get.scentSee.com">ScentSee for business</a></li>
                        <li><a href="http://scentsee.com/jsondoc-ui.html?url=http://scentsee.com/jsondoc">ScentSee API</a></li>
		        	</ul>
				</div>
				
        		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        			<h4>Ancora</h4>
        			<ul class="footer-nav">
                        <li ng-class="{ active: isActive(&#39;/partners&#39;)}"><a ng-href="#/partners">Partner</a></li>
						<li ng-class="{ active: isActive(&#39;/stores&#39;)}"><a ng-href="#/stores">In stores</a></li>
						<li ng-class="{ active: isActive(&#39;/scents&#39;)}"><a ng-href="#/scents">Olfactory types</a></li>
						<li class="show-on-phone" ng-class="{ active: isActive(&#39;/contact&#39;)}"><a ng-href="#/contact">Contatti</a></li>
        			</ul>
				</div>
				
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4" id="socialIcons">
					<h4>Social Media</h4>
					<ul>
						<li id="fbIcon"><a href="https://www.facebook.com/ScentSee/" target="_blank"></a></li>
						<li id="twitIcon"><a href="https://twitter.com/ScentSee" target="_blank"></a></li>
						<li id="emailIcon"><a href="mailto:bogdan@scentSee.com" target="_blank"></a></li>
					</ul>
				</div>
				<div class="clear"></div>
	        	<p class="col-lg-6 col-md-6 col-sm-6" id="copyright">©ScentSee 2016. Tutti i diritti riservati.</p>
        	</div>
        </footer>
    </div>

    <!--Start of Tawk.to Script-->

    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5725e282b7ecf08e7d8c8a02/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>

    <!--End of Tawk.to Script-->
	 
	 <!-- GA Script -->
	 <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75762985-1', 'auto');
    ga('send', 'pageview');

	 </script>
	 
	 <script type="application/javascript" src="js/lib/jquery-2.1.4.min.js"></script>
	 <script type="application/javascript" src="js/lib/selectize.min.js"></script>
	 <script type="application/javascript" src="js/lib/angular.min.js"></script>
	 <script type="application/javascript" src="js/lib/angular-route.min.js"></script>
	 <script type="application/javascript" src="js/lib/angular-animate.min.js"></script>
	 <script type="application/javascript" src="js/lib/angular-cookies.min.js"></script>
	 <script type="application/javascript" src="js/lib/angular-selectize.js"></script>
	 <script type="application/javascript" src="js/lib/angular-smooth-scroll.js"></script>


	 <script type="application/javascript" src="js/lib/clipboard.min.js"></script>
	 <script type="application/javascript" src="js/lib/ngclipboard.min.js"></script>
	 <script type="application/javascript" src="js/lib/rzslider.min.js"></script>
	 <script type="application/javascript" src="js/lib/bootstrap.min.js"></script>
	 <script type="application/javascript" src="js/lib/base64.js"></script>
	 <script type="application/javascript" src="js/data-en/affiliates.js"></script>
	 <script type="application/javascript" src="js/data-en/aromaticTypesFrontEnd.js"></script>
	 <script type="application/javascript" src="js/data-en/questionsFrontEnd.js"></script>
	 <script type="application/javascript" src="js/app/app-en.js"></script>
	 <script type="application/javascript" src="js/app/services.js"></script>
	 <script type="application/javascript" src="js/app/directives.js"></script>
	 <script type="application/javascript" src="js/app/controllers/landing.js"></script>
	 <script type="application/javascript" src="js/app/controllers/login.js"></script>
	 <script type="application/javascript" src="js/app/controllers/preferences.js"></script>
	 <script type="application/javascript" src="js/app/controllers/quiz.js"></script>
	 <script type="application/javascript" src="js/app/controllers/premium.js"></script>
	 <script type="application/javascript" src="js/app/controllers/share.js"></script>
	 <script type="application/javascript" src="js/app/controllers/scents.js"></script>
    <script type="application/javascript" src="js/app/controllers/visualize.js"></script>
    </body>
</html>